{
  "extends": ["@menelaia/react", "plugin:tailwindcss/recommended"],
  "plugins": ["tailwindcss"],
  "rules": {
    "react/react-in-jsx-scope": 0,
    "max-len": "off"
  },
  "parserOptions": {
    "ecmaVersion": 11
  }
}
