.file-uploader__container {
  align-items: center;
  border-radius: 20px;
  box-shadow: 5px 5px 35px rgb(0 0 0 / 10%);
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 20px 40px;
  text-align: center;
  width: fit-content;
}

.file-uploader__container:hover {
  background-color: var(--highlight);
  cursor: pointer;
  transition: 0.2s ease-in all;
}

.dropzone__container {
  padding: 10px;
}

.dropzone__paragraph {
  font-size: small;
}
