.editor__main-container {
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;
  justify-content: center;
}

.editor__container {
  border-radius: 20px;
  box-shadow: 5px 5px 35px rgb(0 0 0 / 10%);
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: auto;
  padding: 30px 60px;
}

@media only screen and (min-width: 700px) {
  .editor__main-container {
    margin: 0 50px;
  }

  .editor__container {
    width: 600px;
  }
}

.editor__title-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10px;
}

.editor__title {
  font-size: 14px;
  font-weight: 600;
}

.editor__lines {
  font-size: 14px;
}

.editor__current-line {
  font-size: 1.5em;
  font-weight: 600;
}

#editor__current-input {
  background: var(--white);
  border: 0;
  box-sizing: border-box;
  color: #343434;
  display: block;
  font-family: Poppins, sans-serif;
  font-size: 1em;
  height: 100px;
  outline: 0;
  overflow-y: hidden;
  resize: none;
  width: 100%;
}

.editor__helper-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  opacity: 0.7;
}

.editor__toolbar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 10px;
  max-width: max-content;
}

@media only screen and (min-width: 500px) and (max-width: 700px) {
  .editor__toolbar-button-text {
    display: none;
  }
}

@media only screen and (min-width: 975px) and (max-width: 1200px) {
  .editor__toolbar-button-text {
    display: none;
  }
}

.editor__toolbar-button-text {
  font-size: 13px;
  font-weight: 600;
  margin: 5px;
  opacity: 0;
}

.editor__toolbar-button-text-hover {
  opacity: 0.8;
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.editor__toolbar-button {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.editor__toolbar-button:hover {
  cursor: pointer;
}
