@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

:root {
  --white: #f2f2f2;
  --highlight: white;
  --dark: #3c3c3c;
  --purple: #9d7eb6;
  --blue: #468ba0;
  --green: #558c61;
}

body {
  align-items: center;
  background-color: var(--white);
  color: var(--dark);
  display: flex;
  flex: 1;
  font-family: Poppins, sans-serif;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
}

a {
  text-decoration: none;
}
